
#login{
	display:none;
	width:97%;
	margin-top:-2px;
	position:absolute;
}

#frm-infor, #frm-login, #frm-register, #message{
	background-color:white;
	margin-left:-160px;
	display:none;
	width:265px;
	padding:5px;
	font-size:1em;
	border: 5px solid #210504;
}

#frm-login label{
	display:block;
	cursor:default;	
}

#frm-register label{
	display:block;
	cursor:default;	
}

#frm-login input{
	padding:5px;
	width:253px;
	height:15px;
	margin:5px 0;
	border:1px solid #210504;
}

#frm-register input{
	padding:5px;
	width:253px;
	height:15px;
	margin:5px 0;
	border:1px solid #210504;
}

.text-login{
	color:#fff;
	font-weight:900;	
}

.button-register,
.button-login, 
.button-cancel{
	color:#fff;
	background-color:#210504;
	padding:5px;
	text-decoration:none;
	cursor:pointer;	
}

input.checkname{
	width:14px !important;	
}

.btn-login{
	margin-bottom:2px;	
}

.forgot{
	margin-bottom:10px;	
}

span#fnc-login:hover{
	cursor:pointer;
	text-decoration:underline;	
}

span#fnc-register:hover{
	cursor:pointer;
	text-decoration:underline;
}

span#fnc-logout:hover{
	cursor:pointer;
	text-decoration:underline;
}

span#fnc-infor:hover{
	cursor:pointer;
	text-decoration:underline;
}


