/* Elife HTML-CSS Standard, Copyright 2008 by Phạm Quốc Tuấn, Email: busdcon@gmail.com */

/* 
   CUSTOMIZE 
------------------------------------------------------------------- */

/* Khu vực chính TO NHẤT */
#elife-main{
	position:relative;
	z-index:60;
	width:100%;
	margin:0 auto;
	
}
#elife-fixbackground{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:hidden;
	z-index:50;
	margin:0px;
	padding:0px;
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcbdb', endColorstr='#fff');
	background: -moz-linear-gradient(top, #ffcbdb 0%, #fff 100%);
	background: -webkit-linear-gradient(top, #ffcbdb 0%,#fff 100%);
	/*background: #ffcbdb;*/
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccfe67', endColorstr='#fff');
	background: -moz-linear-gradient(top, #ccfe67 0%, #fff 100%);
	background: -webkit-linear-gradient(top, #ccfe67 0%,#fff 100%);*/
	background: url(../image/pattern.jpg);
	
}
}
.elife-page-wrapper{width:960px; margin:0 auto; position:relative}

#elife-canvas{ 
	width:100%;
	margin:0 auto;
}

/* HEADER */
#elife-header{
	margin-top: 20px;
	/*margin-bottom: 25px;*/
	height:120px;
  /*  background: #fff;*/
}

#elife-logo{width:100px; height:auto; z-index:300; float:left; position:absolute; }

#elife-header-content{
	position: absolute;
    top: 5px;
    right: 20px;
}

/* Footer Div */
#elife-footer{width:100%; margin-top: 30px;}
#elife-footer-left{width:49%}
#elife-footer-right{width:49%;}

#elife-body{
	margin-top:5px; /*min-height:500px;*/ position:relative; z-index:10;
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcbdb', endColorstr='#fff');
	background: -moz-linear-gradient(top, #ffcbdb 0%, #fff 100%);
	background: -webkit-linear-gradient(top, #ffcbdb 0%,#fff 100%);*/
	
	border-radius: 15px;
}

/* 
   NAVIGATION - KHU VỰC CHỨA MENU CHÍNH CỦA WEBSITE 
------------------------------------------------------------------- */
/* Style cho div Navigation */
#elife-navigation{
	height:32px;
	position:absolute;
	z-index:299;
	top:75px;
	left: 215px;
	width: 700px;
}


.elife-pagination{padding-top:5px}

.elife-content .elife-section-content{padding:0px 0px 20px 0px;}

/* 
   FIXED 
------------------------------------------------------------------- */
/*LAYOUT 0 SIDEBAR*/
.elife-layout-nosidebar .elife-sidebar-left{display:none}
.elife-layout-nosidebar .elife-sidebar-right{display:none}
.elife-layout-nosidebar .elife-content{width:100%}

/*LAYOUT 1 SIDEBAR LEFT*/
.elife-layout-leftsidebar .elife-sidebar-left{float:left; width:190px}
.elife-layout-leftsidebar .elife-sidebar-right{display:none}
.elife-layout-leftsidebar .elife-content{float:right; width:750px}

/*LAYOUT 1 SIDEBAR RIGHT*/
.elife-layout-rightsidebar .elife-sidebar-left{display:none}
.elife-layout-rightsidebar .elife-sidebar-right{float:right; width:200px}
.elife-layout-rightsidebar .elife-content{
	float: left;
	width: 730px;
	/*border: 1px solid #ccc;*/
	border-radius: 5px;
	background: #fff;
	min-height: 800px;
	-webkit-box-shadow: 5px 5px 8px 0px rgba(28, 71, 53, 0.82);
	-moz-box-shadow:    5px 5px 8px 0px rgba(28, 71, 53, 0.82);
	box-shadow:         5px 5px 8px 0px rgba(28, 71, 53, 0.82);
}

/*LAYOUT 2 SIDEBAR*/
.elife-layout-twosidebar .elife-sidebar-left{float:left; width:193px}
.elife-layout-twosidebar .elife-sidebar-right{float:right; width:190px}
.elife-layout-twosidebar .elife-content{float:left; width:575px; margin-left:20px; border: 1px solid #ccc; border-radius: 5px; box-shadow: 5px 5px #ccc; margin-bottom: 20px;}

.seo_content {position: absolute; width: 0; height: 0; overflow: hidden}