.elife-product h1{margin:0; padding:0;}

.elife-product-count{font-size:0.5em; color:#999; margin-left:5px}

/*-------PAGINATION PHAN TRANG------------*/
.elife-product .elife-pagination{margin-top:0.6em;}
.elife-product .elife-pagination ul{
	border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: block;
    margin-bottom: 0;
    margin-left: 0;
}

.elife-product .elife-pagination li{display:inline}

.elife-product .elife-pagination li:first-child a {
    border-left: 1px solid #333;
}

.elife-product .elife-pagination a {
    font-size: 1em;
    line-height: 30px;
    padding: 0 12px;
    text-align: center;
    border-color: #333333;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    float: left;
    text-decoration: none;
}

.elife-product .elife-pagination a:hover {background:#f26122; color:#fff}

.elife-product .elife-pagination a.current {
    background-color: #f26122;
    color: #FFFFFF;
}

/*-------TOOLBAR---------*/
.elife-product-toolbar select{width:150px; background-color:#fff;}

/*-------PRODUCT LIST - DANH SACH SAN PHAM------------*/
.elife-product-list{position:relative}
.elife-product-list .elife-wrapper{padding:0px}
.elife-product-list ul{clear:both; display:block; margin:0;}
.elife-product-list li.product {
    border: 1px solid #CCCCCC;
	box-shadow: inset 0px 0px 10px 1px #ccc;
	border-radius:10px;
    float: left;
    list-style: none outside none;
    margin-top: 15px;
    padding-bottom: 25px;
    text-align: center;
    width: 185px;
/*	margin-left:15px;
	margin-right:25px;*/
	height:250px;
	margin-right:15px
}
.elife-product-list li.product:nth-child(4n + 4){
	margin-right:0px	
}

.elife-product-list .product-image {
    height: 150px;
    margin:10px auto;
    width: 150px;
}

.elife-product-list .sale-icon{
	background:transparent url(../../smartweb_wdefault%20-%20Copy/image/icon/sale-icon.gif) top left no-repeat;
	display: block;
    height: 35px;
    left: 0;
    position: absolute;
    top: 0;
    width: 35px;	
}

.elife-product-list .product .product-name {
    padding: 10px;
    text-align: center;
}

.elife-product-list .product-name, .product-price, li.name_price a {
    color: #353535;
    font-size: 11px;
    font-weight: 700;
    height: 20px;
}

.elife-product-list .product a:hover{text-decoration:none; color:#ffa200}

.elife-product-list .product .product-name .name {
    display: block;
    max-height: 3em;
	line-height:1.5em;
    overflow: hidden;
	font-size:15px;
	margin-top:15px;
}

.elife-product-list .product .product-price {
    color: #575757;
    display: block;
    padding-top: 1px;
    text-align: center;
}

span.sale-price {
    color: #ff0000;
    /*padding-left: 4px;*/
}

/*-------DANH MỤC SẢN PHẨM SIDEBAR------------*/
.elife-product-category a{display:block; width:100%; border-bottom:1px dotted #cccccc; font-size:0.9em}
.elife-product-category a:hover{color:#FFF; text-decoration:none; background:#444}
.elife-product-category a.current{color:#FA9C2B !important; font-weight:bold;}
.elife-product-category ul{margin:0}
.elife-product-category ul li{list-style:none;}
.elife-product-category ul ul{margin-left:10px}

/*-------TÌM KIẾM SẢN PHẨM------------*/
.elife-product-search{}
.elife-product-search .group-section{}
.elife-product-search .group-title {
    border-bottom: 1px solid #DEDFDF;
    color: #959CA1;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 6px 0 6px 5px;
    text-transform: uppercase;
}

.elife-product-search .group-content {padding:10px 5px; border-bottom: 1px solid #DEDFDF;}

.elife-product-search .group-title span{color: #090C0E; font-weight: normal;}
.elife-product-search input.elife-textbox{width:100px;}

.elife-product-search .product-color-list ul{margin:0}
.elife-product-search .product-color-list li{list-style:none;}
.elife-product-search .product-color-list a.color-link{display:block; height:32px}
.elife-product-search .product-color-list span.color{
	background:#009; 
	display:inline-block; 
	width:18px; 
	height:18px; 
	border-radius:18px; 
	margin-right:5px;
	border:3px solid transparent;
	float:left;
}

.elife-product-search .product-color-list span.colorname{display:inline-block; height:24px; padding-top:2px }

.elife-product-search .product-color-list span.color:hover{border:3px solid #CCC;}
.elife-product-search .product-color-list span.color.current{border:3px solid #000;}

.elife-product-search .product-size-list a{margin-right:10px}

#products .pagination {
	width: 252px;
	padding: 5px 5px;
	float: left;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-top: 10px;
}

#products .pagination{margin-left:13px}

#products .pagination li {
	float: left;
	margin: 2px 4px;
	list-style: none;
}

#products .slides_container {
	width: 285px;
	height:350px;
	padding-left: 3px;
	padding-top: 15px;
	overflow: hidden;
	position: relative;
	margin:0 auto;
	/*border: 1px solid #dfdfdf;*/
	display: none;
}